{% extends 'base_asso.html' %}
{% block title %} - Accueil{% endblock %}

			<div class="jumbotron well">
{% block subtitle %}

<h2 class = "textcenter rowbienvenue">CollectifsHL</h2>

{%if request.user.is_collectifshl %}
<div class="row">
	<div class="col-sm-12">
		<div class="btn-group">
			<a href="{% url 'blog:index_projets' %}" class="btn btn-success">   Projets         </a>
			 <a class="btn btn-success" href="{% url 'annuaire_collectifshl' %}"> Carte des inscrits </a>
			 <a class="btn btn-success" href="{% url 'carte_collectifshl' %}"> Carte des adhérents </a>
			 <a class="btn btn-success" href="{% url 'agora_collectifshl' %}"> Salon collectifshl </a>
			<a class="btn btn-success" href="{% url 'charte' %}"> Charte </a>
			<a class="btn btn-success" href=""> Statuts et règlement intérieur </a>

		</div>
	</div>
</div>
				{% endif%}
<h4 class = "textcenter rowbienvenue">Qui sommes nous ?</h4>
{% endblock %}
{% block content %}
				<div class="row">
					<div class="col">
				<p>
					Nous sommes le collectif des collectifs de Hameaux Légers !
</p>
				</div>
				</div>
{% endblock %}